<section>
    <article>
        <div class="footer">
        </div>
        <div class="headline">AJIO</div>
        <div class="menu">
            <a href="">Who We Are</a>
        </div>
        <div class="menu2">
            <a href="">Join Our Team</a>
        </div>
        <div class="menu3">
            <a href="">TeamTerms & Conditions</a>
        </div>
        <div class="headline2">Help</div>
        <div class="menu4">
            <a href="">Returns</a>
        </div>
        <div class="menu5">
            <a href="">Cancellations</a>
        </div>
        <div class="menu6">
            <a href="">Payments</a>
        </div>
        <div class="headline3">Shop by</div>
        <div class="menu7">
            <a href="">Men</a>
        </div>
        <div class="menu8">
            <a href="">Women</a>
        </div>
        <div class="menu9">
            <a href="">Kids</a>
        </div>
        <div class="Paymentmethods">Payment methods</div>
        <div class="netbanking">
            <img src="../../assets/netbanking.png" alt="">
        </div>
            <div class="visa">
                <img src="../../assets/visa.png" alt="">
              <hr>
            </div>
    </article>
</section>
